<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Analyzer</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Write Your Text</h1>
    <form action="/analyze" method="post">
        <input id="inputBox" type="text" name="text_input" placeholder="Enter your text">
        <button type="submit">Analyze</button>
    </form>
    <div id="prediction_result">
        {% if prediction_entertainment %}
            <h2>Entertainment Services</h2>
            <p>{{ prediction_entertainment }}</p>
        {% endif %}
        {% if prediction_food_catering %}
            <h2>Food Catering Services</h2>
            <p>{{ prediction_food_catering }}</p>
        {% endif %}
        {% if prediction_ground_services %}
            <h2>Ground Services</h2>
            <p>{{ prediction_ground_services }}</p>
        {% endif %}
        {% if prediction_seat_comfort %}
            <h2>Seat Comfort Services</h2>
            <p>{{ prediction_seat_comfort }}</p>
        {% endif %}
        {% if prediction_inflight_services %}
            <h2>InFlight Services</h2>
            <p>{{ prediction_inflight_services }}</p>
        {% endif %}
        {% if prediction_overall_services %}
            <h2>Overall Services</h2>
            <p>{{ prediction_overall_services }}</p>
        {% endif %}
        {% if prediction_recommended_services %}
            <h2>Recommended By Users</h2>
            <p>{{ prediction_recommended_services }}</p>
        {% endif %}
    </div>
</body>
</html>
